//Thêm thý vi?n LiquitCrystal
#include <LiquidCrystal.h>
 
//Kh?i t?o v?i các chân
LiquidCrystal lcd(12, 11, 5, 4, 3, 2);
 
void setup() {
  //Thông báo ðây là LCD 1602
  lcd.begin(16, 2);
  //In ra màn h?nh lcd d?ng ch? Toi yeu Arduino
  lcd.print("Toi yeu Arduino!");
}
 
void loop() {
  // ð?t con tr? vào c?t 0, d?ng 1
  // Lýu ?: d?ng 1 là d?ng th? 2, l?ng 0 là d?ng th? 1. Nôm na, nó ð?m t? 0 t? không ph?i t? 1
  lcd.setCursor(0, 1);
  // In ra dong chu
  lcd.print("   Arduino.VN");
}